### Final Quiz

1. Consider the given NumPy arrays a and b. What will be the value of c after the following code is executed?

In [5]:
import numpy as np

a = np.arange(8)
b = a[4:6]
b[:] = 40
c = a[4] + a[6]
c

46

2. Given the string s as shown below, which of the following expressions will be True?

In [6]:
import re
s = 'ABCAC'

In [12]:
bool(re.match('A', s)) == True

True

In [13]:
re.split('A', s)

['', 'BC', 'C']

In [16]:
re.search('A', s)

3. Consider a string s. We want to find all characters (other than A) which are followed by triple A, i.e., have AAA to the right. We donâ€™t want to include the triple A in the output and just want the character immediately preceding AAA . Complete the code given below that would output the required result.

In [24]:
def result():
    s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'

    result = []
    # compete the pattern below
    pattern = '(?:[\w]*)(?:[AAA])([\w*])' # It's wrong
    for item in re.finditer(pattern, s):
      # identify the group number below.
      result.append(item.group(2))
      
    return result

4. Consider the following 4 expressions regarding the following pandas Series df. All of them have the same value except one expression. Can you identify which one it is?

```
>>> df
d   4
b   7
a  -5
c   3
dtype: int64
```

`df.index[0]`

5. Consider the two pandas Series objects shown above, representing the no. of items of different yogurt flavors that were sold in a day from two different stores, s1 and s2. Which of the following statements is True regarding the Series s3 defined below?

```
>>> s1
Mango       20
Strawberry  15
Blueberry   18
Vanilla     31
dtype: int64
```

```
>>> s2
Strawberry  20
Vanilla     30
Banana      15
Mango       20 
Plain       20
dtype: int64
```

`s3 = s1.add(s2)`

In [37]:
import pandas as pd

s1 = pd.Series({'Mango': 20, 'Strawberry': 15, 'Blueberry': 18, 'Vanilla': 31})
s1

Mango         20
Strawberry    15
Blueberry     18
Vanilla       31
dtype: int64

In [38]:
s2 = pd.Series({'Strawberry': 20, 'Vanilla': 30, 'Banana': 15, 'Mango': 20, 'Plain': 20})
s2

Strawberry    20
Vanilla       30
Banana        15
Mango         20
Plain         20
dtype: int64

In [39]:
s3 = s1.add(s2)
s3

Banana         NaN
Blueberry      NaN
Mango         40.0
Plain          NaN
Strawberry    35.0
Vanilla       61.0
dtype: float64

In [41]:
s3['Mango'] >= s1.add(s2, fill_value=0)['Mango']

40.0

In [43]:
s3['Blueberry'] == s1.add(s2, fill_value=0)['Blueberry'] # 18 + NaN = NaN != 18 + 0 = 18

18.0

7. Consider the Series object S defined below. Which of the following is an incorrect way to slice S such that we obtain all data points corresponding to the indices 'b', 'c', and 'd'?

In [44]:
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])
S

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [50]:
S['b':'e']

b    1
c    2
d    3
e    4
dtype: int32

8. Consider the DataFrame df shown below with indexes 'R1', 'R2', 'R3', and 'R4'.  In the following code, a new DataFrame df_new is created using df. What will be the value of df_new[1] after the below code is executed?

```
>>> df
    a   b   c
R1  5   6  20
R2  5  82  28
R3 71  31  92
R4 67  37  49 
```

```
f = lambda x: x.max() + x.min()
df_new = df.apply(f)
```

10. Consider the DataFrame df shown below. What will be the output (rounded to the nearest integer) when the following code related to df is executed:

In [51]:
df = pd.DataFrame({'Item': ['item_1', 'item_1', 'item_1', 'item_2', 'item_2', 'item_2'],
                   'Store': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'Quantity sold': [10.0, 20.0, np.nan, 5.0, 10.0, 15.0]})
df

     Item Store  Quantity sold
0  item_1     A           10.0
1  item_1     B           20.0
2  item_1     C            NaN
3  item_2     A            5.0
4  item_2     B           10.0
5  item_2     C           15.0

In [55]:
df.groupby('Item').sum().iloc[0]['Quantity sold']

C:\Users\SebastianCaceresG\AppData\Local\Temp\ipykernel_5264\753778524.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Item').sum().iloc[0]['Quantity sold']

30.0